.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.panelGroup {
    flex: 1;
    height: 100%;
}

.panel {
    height: 100%;
}
