.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
}

.title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.panelGroup {
    flex: 1;
    height: 100%;
}

.panel {
    height: 100%;
}

.bottomPanel {
    height: 100%;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #e5e7eb;
}
