.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
}

.input {
    padding: 1rem;
    border-top: 1px solid #e5e7eb;

    > div {
        width: 100%;
    }
}
